body{
    font-family: 'Zilla Slab', serif;
}
#title h3 {
    margin-top: -1%;
    font-weight: 200;
}
section {
    padding: 2%;
}
textarea#text-extract {
    width: 80%;
    height: max-content;
    font-size: large;
    padding: 2%;
    border-radius: 20px;
}
button#search-on-spotify {
    font-family: monospace;
    font-weight: 500;
    padding: 0.5% 2%;
    border-radius: 10px;
    border: 1px solid grey;
    cursor: pointer;
}
.hide{
    display: none;
}
span#song-output {
    font-weight: 100;
    background: #fbfbc2;
    text-decoration: underline;
}