body{
    font-family: 'Zilla Slab', serif;
}
#title h3 {
    margin-top: -1%;
    font-weight: 200;
}
section {
    padding: 2%;
}
textarea#text-extract {
    width: 80%;
    height: max-content;
    font-size: large;
    padding: 2%;
    border-radius: 20px;
}
button#search-on-spotify {
    font-family: monospace;
    font-weight: 500;
    padding: 0.5% 2%;
    border-radius: 10px;
    border: 1px solid grey;
    cursor: pointer;
}
.hide{
    display: none;
}
span#song-output {
    font-weight: 100;
    background: #fbfbc2;
    text-decoration: underline;
}

/* Styles for the results page */
section#output{
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
}
.track-box {
    display: flex;
    margin: 1%;
    flex: 0 0 44%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 22px;
    padding: 1%;
}
.img-cont {
    width: 50%;
}
.img-cont img {
    width: 50%;
    border-radius: 33px;
    padding: 3%;
}
.text-cont {
    width: 50%;
}
.text-cont a {
    color: black;
    background: #ffffb2;
}
.text-cont h4 {
    font-weight: 100;
}
#title h4 {
    font-size: xx-large;
    font-weight: 100;
}
span#output-artist{
    background: #ffffb2;
    font-style: italic;
}
button#regenerate-btn , button#spotify-auth-btn {
    font-family: monospace;
    margin-top: 1%;
    border-radius: 22px;
    padding: 0.5% 2%;
    border: 1px solid grey;
    letter-spacing: 2px;
    cursor: pointer;
}
button#spotify-auth-btn {
    margin-top: 0;
    letter-spacing: 1px;
}

/* Mobile Phones */
@media only screen and (max-width: 600px){
    section#output{
        display: block;
    }
    .track-box {
        display: flex;
        padding: 3%;
    }
    .img-cont {
        width: 40%;
    }
    .text-cont {
        width: 60%;
    }
    .img-cont img {
        width: 75%;
        border-radius: 17px;
        padding: 0%;
    }
    .text-cont h2 {
        font-size: medium;
    }
    .text-cont h4 {
        margin-top: 0%;
        font-size: smaller;
    }
}